<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marketing.activity.mapper.VoucherActivityRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.marketing.activity.domain.entity.VoucherActivityRelation">
        <id column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="voucher_id" property="voucherId" />
        <result column="voucher_code" property="voucherCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activity_id, voucher_id, voucher_code
    </sql>

</mapper>
