<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marketing.activity.mapper.VoucherActivityInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.marketing.activity.domain.entity.VoucherActivityInfo">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="dep_id" property="depId" />
        <result column="column_id" property="columnId" />
        <result column="activity_type" property="activityType" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="expand_json" property="expandJson" />
        <result column="operator" property="operator" />
        <result column="enabled_status" property="enabledStatus" />
        <result column="delete_status" property="deleteStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, dep_id, column_id, activity_type, start_time, end_time, expand_json, operator, enabled_status, delete_status, create_time, update_time
    </sql>
    <select id="queryDistinctColumn" resultType="java.lang.Integer">
        select distinct vai.column_id from
        voucher_activity_info vai left join voucher_info vi on vai.id = vi.activity_id
        where vai.delete_status = 0
        and vai.enabled_status = 1
        and vai.column_id > 0
        and vai.start_time <![CDATA[<=]]]> NOW()
        and vi.delete_status = 0
        and vi.enabled_status = 1
        and vi.total_num > 0
    </select>

</mapper>
